/* Styles */
body {
	margin: 5px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.logo {
	position: absolute;
	right: .5em;
}

h1 {
	font-size: 1.8em;
	line-height: 20px;
	margin: .5em 0;
}

.feedTitle {
	margin-left: .5em 0;
	display: block;
}

.entry {
	margin: .5em 0;
	padding: .2em;
	border: 1px solid #888;
	background-color: #FFE;
}

.title a {
	text-decoration: none;
	font-size: 1em;
	display: block;
}

.title a:HOVER, .title a:ACTIVE {
	text-decoration: underline;
}

.date {
	font-size: 0.7em;
	display: block;
}

.description {
	margin-top:.1em;
	display: block;
	font-size: 1em;
}